In [6]:
import numpy as np

b=np.zeros((2,3))
b[0,0]=10
b[0,1]=20
b[0,2]=30
b[1,0]=40
b[1,1]=50
b[1,2]=60

print(b)

[[10. 20. 30.]
 [40. 50. 60.]]

In [ ]:
import numpy as np

np.array([1, 2, 3])

ali

In [37]:
import pandas as pd 
df=pd.read_csv("./Titanic_Dataset.csv")
# df.head()        boshidagi malumotlar
# df.describe()     Sonli ustunlar statistikasi (o‘rtacha, min, max)
# df[df['survived'] == 1]       ### Faqat tirik qolganlar (erkak/ayol)
df[df['sex'] == 'female']    ###  Tirirk qolgan ayollar ayollar
# df[(df['survived'] == 1) & (df['sex'] == 'female')]       ### Tirik qolgan ayollar (ENG KO‘P ISHLATILADIGANI)
# df.groupby('pclass')['survived'].mean() * 100         ##### Klass bo‘yicha tirik qolish foizi
# df.groupby('sex')['survived'].sum()           ###### Jins buyicha tirik qolganlar soni
# df[df['survived'] == 1]['age'].mean()           ###### O‘rtacha yosh (tirik qolganlar)

# df.drop(
#     columns=['ticket', 'cabin', 'boat', 'body', 'home.dest'],
#     inplace=True
# )

# df.head()
# df.columns

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C,C,NaN,NaN
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,NaN,NaN,NaN
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,NaN,NaN,NaN
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN